@import '_variables.scss';

$space-hover: -0.02;
$verde-linea-menu: rgb(171, 232, 173);

/*general*/
body{
 line-height: 1.2rem;   
}

input::placeholder{
    color: $text-muted !important;
    font-size: $font-size-base - 0.2;
}

a:hover .btn-link:hover {
  font-weight: bold !important;
}

/*colors*/
.bg-secondary {
  color: $azul-siste !important;
}

/*custom components*/
.navbar{
    background-color: transparent !important;
    .navbar-nav{
        >.nav-item{
            position: relative;
        }
        .navbar-nav{
            position: absolute;
            top: 97%;
            visibility: hidden;
            line-height: 0;
            background: $white;
            &:before{
                position: relative;
                display: inline-block;
                top: 0px;
                content: '▼';
                text-align: center;
                color: $verde-hover-submenu;
            }
            .nav-item{
                margin: 0;
                padding: 0;
                font-weight: normal;
                word-spacing: normal;
                letter-spacing: normal;
                &:after{
                    display: none;                
                }
                a{
                    white-space: nowrap;
                    color: #242424;
                    font-size:1rem;
                    &:hover{
                        word-spacing: -0.04rem;
                        letter-spacing: -0.02rem;
                        background-color: $verde-hover-submenu;
                    }

                }
            }    
        }
        .nav-item:hover{
            .navbar-nav{
                visibility: visible;
                &:before{
                    top:5px;
                    transition: top .3s ease .2s;
                }
            }
        }
    }
}


.nav-pills .nav-link{
  position: relative;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eaeff5;
  margin-top: 8px;
  text-align: center;
  &.active{
      font-weight:bold; 
          &:after{
            content: '';
            position: absolute;
            display: block;
            top: 2.4em;
            left: 40%;
            background: #a3bd31;
            height: 5px;
            width: 20%;
            border-radius: 6%/50%;
        }
   }
}
 

.btn{
    &.btn-secondary{ /*Azul sistecredito*/
        color: $azul-siste;
        line-height: 1.2rem;
    }
    &.btn-success{/*verde sistecredito*/
        color: rgb(255,255,255);
    }
}

.btn{
  border-radius: $btn-radius-siste;
  box-shadow: 2px 2px 6px rgba($black, .3);
}

.table th{
  background-color: $gris-table-header;
  color: $azul-table-heading;
}

input:not([type=submit]){
  border: none;
  border-bottom: solid $input-btn-border-width darken($input-disabled-bg, 15%);
}
input[type=radio]{
  display:none;  
}

input[type=radio]+label:before{
  display:inline-block;
  content: '';
  width: 15px;
  height:15px;
  border:solid 1px $primary;
  border-radius: $btn-radius-siste;
}

input[type=radio]:checked + label:before{
  background-color: $primary;
}
input[type=checkbox]:checked + label:before {
  padding-top: 3px;
}

input[type=radio]:disabled+label:before{
  opacity: 0.5;
}

input[type=checkbox]{
  display:none;  
}

input[type=checkbox]+label:before{
  display:inline-block;
  content: '';
  width: 15px;
  height:15px;
  border:solid 1px $primary;
}

input[type=checkbox]:checked + label:before{
  content: '\2713';
  font-weight: bold;
  color: $primary;
  line-height: 0.5em;
}

input[type=checkbox]:disabled+label:before{
  opacity: 0.5;
  padding: 3px 0 0 0;
}

.breadcrumb{
  font-style: italic;
}

.breadcrumb .active{
  font-weight: bold;
}

.carousel-control-next-icon{
  transform: scaleX(-1);
}

.carousel-indicators li{
  border-radius: $btn-radius-siste;
  border: solid $primary  $input-btn-border-width;
  background-color: inherit;
}

.form-group{
    margin-bottom: 6% !important;
    margin-top: 2% !important;
}

.sc-text-final {
    color: $azul-siste;
    a {
         color: $azul-siste;
        line-height: 0px;}
    span {
        display: inline-block;
        margin-top: 6px;
        vertical-align: top;
    }
}

footer div{
    background: $azul-footer;
}

footer .navbar {
    .navbar-nav{
        .navbar-nav{
            display: none;
        }    
    }
    li:last-child a:after{
        display: none;
    }
    a{
        word-wrap: nowrap;
        white-space: nowrap;
        padding-right: 1.5rem !important;
        &:after{
            content: '•';
            display: inline-block;
            width: 0;
            font-size: 2rem;
            line-height: 0;
            vertical-align: sub;
            padding-left: 1.5rem !important;
        }
        &:hover{
            word-spacing: 0.06rem;
            letter-spacing:-0.03rem;
            &:after{
                font-weight: normal;
            }
        }
    } 
}

//helpers
@import 'sc-helpers.scss';
@import 'sc-secciones.scss';

/*secciones*/

