/*helpers*/

.sc-no-pad{
    padding-left: 0;    
    padding-top: 0;    
    padding-bottom: 0;    
    padding-right: 0;    
}

.sc-no-mrg{
    margin-left: 0;    
    margin-top: 0;    
    margin-bottom: 0;    
    margin-right: 0;    
}

.sc-pos-bottom{
    bottom: 67px !important;
}
/*padding*/
@for $inicio from 1 through 5 {
    .sc-pad-#{$inicio}{
        padding: #{$inicio}#{%};
    }
}

@for $inicio from 1 through 10 {
    .sc-padT-#{$inicio*5}{
        padding-top: #{$inicio*5}#{%};
    }
}
/*margenes*/
@for $inicio from 1 through 5 {
    .sc-mrg-#{$inicio}{
        margin: #{$inicio}#{%};
    }
}

@for $inicio from 1 through 15 {
    .sc-mrg-btt-#{$inicio}{
        margin-bottom: #{$inicio}#{%};
    }
}

@for $inicio from 1 through 15 {
    .sc-mrg-top-#{$inicio}{
        margin-top: #{$inicio}#{%};
    }
}
/*alturas minimas*/
@for $inicio from 0 through 5 {
    .sc-h-#{$inicio}{
        height: #{$inicio}px;
    }
}
/*alturas maximas*/
@for $inicio from 1 through 20 {
    .sc-h-#{$inicio*10}{
        height: #{$inicio*10}px;
    }
}

/*alturas porcentuales*/
@for $inicio from 1 through 20 {
    .sc-h-#{$inicio*5}-per{
        height: #{$inicio*5}#{%};
    }
}
/*anchos porcentuales*/
@for $inicio from 0 through 20 {
    .sc-w-#{$inicio*5}-per{
        width: #{$inicio*5}#{%};
    }
}

/*tamaños texto*/
@for $inicio from 1 through 5 {
    .sc-txt-#{$inicio}{
        font-size: #{($inicio+2)/4}rem;
    }
}