/*general*/
#sc-contendor-ppal{
    overflow: hidden;
}

/*secciones*/
.sc-personas{
    background: url(../images/Bgs_Personas.png) $verde-personas no-repeat;
    background-position:  240% 100%;
    background-size: auto 135%;
}

.sc-empresas{
    background: url(../images/Bgs_Empresas.png) $verde-empresas no-repeat;
    background-position:  240% 100%;
    background-size: auto 135%;
}

.sc-nosotros{
    background: url(../images/Bgs_Nosotros.png) $verde-nosotros no-repeat;
    background-position: 240% 100%;
    background-size: auto 135%;
}

.sc-contacto {
    background: url(../images/Bgs_Contactenos.png) $verde-contacto no-repeat;
    background-position: 240% 100%;
    background-size: auto 135%;
}


.sc-menu-ppal{
    position: relative;
    z-index: 2;
    align-items: normal;
    li {
        padding-top: 2rem;
        margin-left: 3rem;
        text-align: center;
        line-height: 1rem;
        &:after{
            content: '';
            display: inline-block;
            background: $verde-linea-menu;
            height: 6px;
            width: 0%;
            box-shadow: 2px 0px 5px rgba(0,0,0, 0.3);
        }
        &:hover{
            font-weight: $font-weight-bold;
            padding-bottom: 0;
            word-spacing: -0.07rem;
            letter-spacing: -0.04rem;
            &:after{
                width: 100%;
                transition: width 0.3s ease-in-out;
            }
            
        }
    }
    a{
        color: $white;
        font-size: $h3-font-size;
    }
}

.sc-accesos{
    background: $white;
    button{
        font-size: $font-size-base - 0.2;
    }
    [class^=sc-icons]{
        width: 100px;
        height: 105px;
        background-position: top left;
        background-size: 385% auto;
        margin: 0 2%;
    }
    .sc-icons_04{
        background-position: 38% 2%;
        margin: 0 2% 0 8%;
    }
    .sc-icons_05{
        background-position: 0% 50%;
        margin: 0 2% 0 2%;
    }
}


.sc-accesos, .seccion-baja footer{
    position: absolute;
    bottom: 229px;
}

.sc-bg-gente {
    background: url(../images/Bg_Gente.png) no-repeat center bottom;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
}

.sc-bg-Empresas {
    background: url(../images/Bg_Empresas.png) no-repeat center bottom;
    background-size: 100% auto;
    height: 90%;
    width: 100%;
}

.sc-bg-Nosotros {
    background: url(../images/Bg_Nosotros.png) no-repeat center bottom;
    background-size: 100% auto;
    height: 90%;
    width: 100%;
}

.sc-bg-ContactoPer {
    background: url(../images/Bg_ContactoPersonas.png) no-repeat center bottom;
    background-size: 80% auto;
    height: 100%;
    width: 100%;
}

.sc-bg-ContactoEmpr {
    background: url(../images/Bg_ContactoEmpresas.png) no-repeat center bottom;
    background-size: 90% auto;
    height: 100%;
    width: 100%;
}



.sc-logo-ppal {
    background-image: url(../images/Sistecredito_Logo.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;
}
.sc-logo-ppal2 {
    background-image: url(../images/Sistecredito_Logo.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% auto;
}

.sc-formulario{
    .sc-icons_07{
        width: 28%;
        height: auto;
        padding:15% 0;
        background-position: 36% 47%;
        background-size: 400% auto;
    }
    .sc-icons_09{
        width: 28% !important;
        height: auto;
        padding:15% 0;
        background-position: 68% 1%;
        background-size: 500% auto;
    }
    .sc-icons_41{
        width: 28%;
        height: auto;
        padding:15% 0;
        background-position: 55% 74% !important;
        background-size: 1000% auto;
    }
    .sc-icons_20 {
        width: 28%;
        height: auto;
        padding:15% 0;
        background-position: 75% 74% !important;
        background-size: 1000% auto;
    }
}

.sc-formulario-emp {
    .sc-icons_07{
        width: 20%;
        height: auto;
        padding:8% 0;
        background-position: 36% 47%;
        background-size: 400% auto;
    }
    .sc-icons_09{
        width: 20% !important;
        height: auto;
        padding:8% 0;
        background-position: 68% 1%;
        background-size: 500% auto;
    }
    .sc-icons_41{
        width: 20%;
        height: auto;
        padding:8% 0;
        background-position: 55% 74% !important;
        background-size: 1000% auto;
    }
    .sc-icons_20 {
        width: 20%;
        height: auto;
        padding:8% 0;
        background-position: 75% 74% !important;
        background-size: 1000% auto;
    }
}


.sc-form-title{
    color: #587aa8;
    letter-spacing: -0.03rem;
}

.sc-artilugio-texto-ppal p.sc-txt-3 {
    line-height: 1.5rem;
}

.sc-txt-3 .sc-txt-direccion{
    color: #0B3841;
}

.sc-tit-opacity{
    position: relative;
    color: #cdfc00;
    font-size: 3rem; 
    top: 50%;
    &:before {
        content: attr(title);
        position: absolute;
        color: $white;
        opacity: 0.2;
        font-size: 6rem;
        font-stretch: ultra-expanded;
        letter-spacing: 1rem;
        font-weight: 900;
        top: -60%;
        left: -50%;
        }
    }


form{
    a{
        color: $text-form-links;
        font-style: italic;
        font-weight: normal;
        font-size:$font-size-base - 0.2;
    }    
}


.icon-input{
    position: relative;
    width: 0;
    float:left;    
    [class^=sc-icons]{
        width: 25px;
        height: 25px;
        margin: 5px 0 0 5px;
        background-position: 44% 74%;
        background-size: 1000%;
    }
    &+input{
        padding-left: 12%;
    }
    .sc-icons_23{
        background-position: 100% 17%;    
        background-size: 1400%;    
    }
}

.sc-text-descripcion-emp{
    color:#b3f2e1;
}
.sc-text-descripcion-nos{
    color: #A4E888;
}

b.sc-app {
    white-space: nowrap;
}

.sc-btns-app {
    padding-left: 10px;
}

.sc-btn-GooglePlay {
    background: url(../images/Btn_GooglePlay.png) no-repeat $primary;
    background-size: 90%;
    width: 45%;
    height: 40px;
    background-position: center;
}
.sc-btn-AppsStore {
    background: url(../images/Btn_AppStore.png) no-repeat $primary;
    background-size: 90%;
    width: 45%;
    height: 40px;
    background-position: center;
}

.sc-controlradio-txt {
    color:#7E7E7E;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.sc-text-final {
    color: $azul-siste;
    a {
         color: $azul-siste;
        line-height: 0px;
    }
    span {
        display: inline-block;
        margin-top: 6px;
        vertical-align: top;
    }
}

.sc-redes{
    text-align: right;
    padding-right: 0;
    overflow: hidden;
    div{
        white-space: nowrap;
        &:first-child a{
            vertical-align: middle;
            &:after{
                display: inline-block;
                content: '\02039';
                padding: 0;
                font-size: 2rem;
            }
            &:hover{
                word-spacing: -0.04rem;
                letter-spacing: -0.02rem;
            }
        }
        &+div{
            width: 8%;
            padding: 0;
            height: 100%;
            border-radius: 150px 0 0 150px;
            &:target{
                height: 0;
                width: 43%;
                padding: 3.5% 7.5% 12% 3%;
                transition: width 0.3s ease-in;
                margin-left: 0%;
                [class^=sc-icons-soc]{
                    transition: margin 0.3s ease-in-out 0.1s, padding 0.3s ease-in-out 0.1s;
                    margin-top: 0%;
                    padding: 14%;
                }
            }
            [class^=sc-icons-soc]{
                width: 0;
                height: 0;
                margin-top: 15%;
                margin-left:0.5%;
                background-size: 300% auto;
            }
            .sc-icons-soc-{
                &Facebook{
                    &Azul {background-position: 0 0;}
                    &Lima, &Azul:hover{background-position: 50% 0;}
                }
                &Linkedn{
                    &Azul {background-position: 100% 0;}
                    &Lima, &Azul:hover {background-position: 100% 50%;}    
                }
                &Instagram{
                    &Azul {background-position: 0 50%;}
                    &Lima, &Azul:hover {background-position: 50% 50%;}
                }
                &Twitter{
                    &Azul {background-position: 0 100%;}
                    &Lima, &Azul:hover {background-position: 50% 100%;}
                }
            }
        }
    }
}
/*artilugios*/
.sc-artilugio-texto-ppal{
    color: $white;
    line-height: 1.2rem;
    letter-spacing: 0.04rem;
     h1{
        opacity: 0.2;
        color: #abe8ad;
        &.no-op{
            opacity: 1;
            color: #cdfc00;
        }
    }
}
