@charset "UTF-8";
/*general*/
body {
  line-height: 1.2rem; }

input::placeholder {
  color: #d2d1d1 !important;
  font-size: 0.8rem; }

a:hover .btn-link:hover {
  font-weight: bold !important; }

/*colors*/
.bg-secondary {
  color: #003891 !important; }

/*custom components*/
.navbar {
  background-color: transparent !important; }
  .navbar .navbar-nav > .nav-item {
    position: relative; }
  .navbar .navbar-nav .navbar-nav {
    position: absolute;
    top: 97%;
    visibility: hidden;
    line-height: 0;
    background: white; }
    .navbar .navbar-nav .navbar-nav:before {
      position: relative;
      display: inline-block;
      top: 0px;
      content: '▼';
      text-align: center;
      color: #aae7ac; }
    .navbar .navbar-nav .navbar-nav .nav-item {
      margin: 0;
      padding: 0;
      font-weight: normal;
      word-spacing: normal;
      letter-spacing: normal; }
      .navbar .navbar-nav .navbar-nav .nav-item:after {
        display: none; }
      .navbar .navbar-nav .navbar-nav .nav-item a {
        white-space: nowrap;
        color: #242424;
        font-size: 1rem; }
        .navbar .navbar-nav .navbar-nav .nav-item a:hover {
          word-spacing: -0.04rem;
          letter-spacing: -0.02rem;
          background-color: #aae7ac; }
  .navbar .navbar-nav .nav-item:hover .navbar-nav {
    visibility: visible; }
    .navbar .navbar-nav .nav-item:hover .navbar-nav:before {
      top: 5px;
      transition: top .3s ease .2s; }

.nav-pills .nav-link {
  position: relative;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eaeff5;
  margin-top: 8px;
  text-align: center; }
  .nav-pills .nav-link.active {
    font-weight: bold; }
    .nav-pills .nav-link.active:after {
      content: '';
      position: absolute;
      display: block;
      top: 2.4em;
      left: 40%;
      background: #a3bd31;
      height: 5px;
      width: 20%;
      border-radius: 6%/50%; }

.btn.btn-secondary {
  /*Azul sistecredito*/
  color: #003891;
  line-height: 1.3rem;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 4%; }

.btn.btn-success {
  /*verde sistecredito*/
  color: white; }

.btn {
  border-radius: 1.5em;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); }

.table th {
  background-color: #eaeff5;
  color: #222c41; }

input:not([type=submit]) {
  border: none;
  border-bottom: solid 1px #97add2; }

input[type=radio] {
  display: none; }

input[type=radio] + label:before {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  border: solid 1px #003891;
  border-radius: 1.5em; }

input[type=radio]:checked + label:before {
  background-color: #003891; }

input[type=checkbox]:checked + label:before {
  padding-top: 3px; }

input[type=radio]:disabled + label:before {
  opacity: 0.5; }

input[type=checkbox] {
  display: none; }

input[type=checkbox] + label:before {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  border: solid 1px #003891; }

input[type=checkbox]:checked + label:before {
  content: '\2713';
  font-weight: bold;
  color: #003891;
  line-height: 0.5em; }

input[type=checkbox]:disabled + label:before {
  opacity: 0.5;
  padding: 3px 0 0 0; }

.breadcrumb {
  font-style: italic; }

.breadcrumb .active {
  font-weight: bold; }

.carousel-control-next-icon {
  transform: scaleX(-1); }

.carousel-indicators li {
  border-radius: 1.5em;
  border: solid #003891 1px;
  background-color: inherit; }

.form-group {
  margin-bottom: 6% !important;
  margin-top: 2% !important; }

footer div {
  background: #dce5f4; }

footer .navbar .navbar-nav .navbar-nav {
  display: none; }

footer .navbar li:last-child a:after {
  display: none; }

footer .navbar a {
  word-wrap: nowrap;
  white-space: nowrap;
  padding-right: 1.5rem !important; }
  footer .navbar a:after {
    content: '•';
    display: inline-block;
    width: 0;
    font-size: 2rem;
    line-height: 0;
    vertical-align: sub;
    padding-left: 1.5rem !important; }
  footer .navbar a:hover {
    word-spacing: 0.06rem;
    letter-spacing: -0.03rem; }
    footer .navbar a:hover:after {
      font-weight: normal; }

/*helpers*/
.sc-no-pad {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0; }

.sc-no-mrg {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0; }

.sc-pos-bottom {
  bottom: 67px !important; }

/*padding*/
.sc-pad-1 {
  padding: 1%; }

.sc-pad-2 {
  padding: 2%; }

.sc-pad-3 {
  padding: 3%; }

.sc-pad-4 {
  padding: 4%; }

.sc-pad-5 {
  padding: 5%; }

.sc-padT-5 {
  padding-top: 5%; }

.sc-padT-10 {
  padding-top: 10%; }

.sc-padT-15 {
  padding-top: 15%; }

.sc-padT-20 {
  padding-top: 20%; }

.sc-padT-25 {
  padding-top: 25%; }

.sc-padT-30 {
  padding-top: 30%; }

.sc-padT-35 {
  padding-top: 35%; }

.sc-padT-40 {
  padding-top: 40%; }

.sc-padT-45 {
  padding-top: 45%; }

.sc-padT-50 {
  padding-top: 50%; }

/*margenes*/
.sc-mrg-1 {
  margin: 1%; }

.sc-mrg-2 {
  margin: 2%; }

.sc-mrg-3 {
  margin: 3%; }

.sc-mrg-4 {
  margin: 4%; }

.sc-mrg-5 {
  margin: 5%; }

.sc-mrg-btt-1 {
  margin-bottom: 1%; }

.sc-mrg-btt-2 {
  margin-bottom: 2%; }

.sc-mrg-btt-3 {
  margin-bottom: 3%; }

.sc-mrg-btt-4 {
  margin-bottom: 4%; }

.sc-mrg-btt-5 {
  margin-bottom: 5%; }

.sc-mrg-btt-6 {
  margin-bottom: 6%; }

.sc-mrg-btt-7 {
  margin-bottom: 7%; }

.sc-mrg-btt-8 {
  margin-bottom: 8%; }

.sc-mrg-btt-9 {
  margin-bottom: 9%; }

.sc-mrg-btt-10 {
  margin-bottom: 10%; }

.sc-mrg-btt-11 {
  margin-bottom: 11%; }

.sc-mrg-btt-12 {
  margin-bottom: 12%; }

.sc-mrg-btt-13 {
  margin-bottom: 13%; }

.sc-mrg-btt-14 {
  margin-bottom: 14%; }

.sc-mrg-btt-15 {
  margin-bottom: 15%; }

.sc-mrg-top-1 {
  margin-top: 1%; }

.sc-mrg-top-2 {
  margin-top: 2%; }

.sc-mrg-top-3 {
  margin-top: 3%; }

.sc-mrg-top-4 {
  margin-top: 4%; }

.sc-mrg-top-5 {
  margin-top: 5%; }

.sc-mrg-top-6 {
  margin-top: 6%; }

.sc-mrg-top-7 {
  margin-top: 7%; }

.sc-mrg-top-8 {
  margin-top: 8%; }

.sc-mrg-top-9 {
  margin-top: 9%; }

.sc-mrg-top-10 {
  margin-top: 10%; }

.sc-mrg-top-11 {
  margin-top: 11%; }

.sc-mrg-top-12 {
  margin-top: 12%; }

.sc-mrg-top-13 {
  margin-top: 13%; }

.sc-mrg-top-14 {
  margin-top: 14%; }

.sc-mrg-top-15 {
  margin-top: 15%; }

/*alturas minimas*/
.sc-h-0 {
  height: 0px; }

.sc-h-1 {
  height: 1px; }

.sc-h-2 {
  height: 2px; }

.sc-h-3 {
  height: 3px; }

.sc-h-4 {
  height: 4px; }

.sc-h-5 {
  height: 5px; }

/*alturas maximas*/
.sc-h-10 {
  height: 10px; }

.sc-h-20 {
  height: 20px; }

.sc-h-30 {
  height: 30px; }

.sc-h-40 {
  height: 40px; }

.sc-h-50 {
  height: 50px; }

.sc-h-60 {
  height: 60px; }

.sc-h-70 {
  height: 70px; }

.sc-h-80 {
  height: 80px; }

.sc-h-90 {
  height: 90px; }

.sc-h-100 {
  height: 100px; }

.sc-h-110 {
  height: 110px; }

.sc-h-120 {
  height: 120px; }

.sc-h-130 {
  height: 130px; }

.sc-h-140 {
  height: 140px; }

.sc-h-150 {
  height: 150px; }

.sc-h-160 {
  height: 160px; }

.sc-h-170 {
  height: 170px; }

.sc-h-180 {
  height: 180px; }

.sc-h-190 {
  height: 190px; }

.sc-h-200 {
  height: 200px; }

/*alturas porcentuales*/
.sc-h-5-per {
  height: 5%; }

.sc-h-10-per {
  height: 10%; }

.sc-h-15-per {
  height: 15%; }

.sc-h-20-per {
  height: 20%; }

.sc-h-25-per {
  height: 25%; }

.sc-h-30-per {
  height: 30%; }

.sc-h-35-per {
  height: 35%; }

.sc-h-40-per {
  height: 40%; }

.sc-h-45-per {
  height: 45%; }

.sc-h-50-per {
  height: 50%; }

.sc-h-55-per {
  height: 55%; }

.sc-h-60-per {
  height: 60%; }

.sc-h-65-per {
  height: 65%; }

.sc-h-70-per {
  height: 70%; }

.sc-h-75-per {
  height: 75%; }

.sc-h-80-per {
  height: 80%; }

.sc-h-85-per {
  height: 85%; }

.sc-h-90-per {
  height: 90%; }

.sc-h-95-per {
  height: 95%; }

.sc-h-100-per {
  height: 100%; }

/*anchos porcentuales*/
.sc-w-0-per {
  width: 0%; }

.sc-w-5-per {
  width: 5%; }

.sc-w-10-per {
  width: 10%; }

.sc-w-15-per {
  width: 15%; }

.sc-w-20-per {
  width: 20%; }

.sc-w-25-per {
  width: 25%; }

.sc-w-30-per {
  width: 30%; }

.sc-w-35-per {
  width: 35%; }

.sc-w-40-per {
  width: 40%; }

.sc-w-45-per {
  width: 45%; }

.sc-w-50-per {
  width: 50%; }

.sc-w-55-per {
  width: 55%; }

.sc-w-60-per {
  width: 60%; }

.sc-w-65-per {
  width: 65%; }

.sc-w-70-per {
  width: 70%; }

.sc-w-75-per {
  width: 75%; }

.sc-w-80-per {
  width: 80%; }

.sc-w-85-per {
  width: 85%; }

.sc-w-90-per {
  width: 90%; }

.sc-w-95-per {
  width: 95%; }

.sc-w-100-per {
  width: 100%; }

/*tamaños texto*/
.sc-txt-1 {
  font-size: 0.75rem; }

.sc-txt-2 {
  font-size: 1rem; }

.sc-txt-3 {
  font-size: 1.25rem; }

.sc-txt-4 {
  font-size: 1.5rem; }

.sc-txt-5 {
  font-size: 1.75rem; }

/*general*/
#sc-contendor-ppal {
  overflow: hidden; }

/*secciones*/
.sc-personas {
  background: url(../images/Bgs_Personas.png) #358d83 no-repeat;
  background-position: 240% 100%;
  background-size: auto 135%; }

.sc-empresas {
  background: url(../images/Bgs_Empresas.png) #006e7d no-repeat;
  background-position: 240% 100%;
  background-size: auto 135%; }

.sc-nosotros {
  background: url(../images/Bgs_Nosotros.png) #28a559 no-repeat;
  background-position: 240% 100%;
  background-size: auto 135%; }

.sc-contacto {
  background: url(../images/Bgs_Contactenos.png) #00cbc2 no-repeat;
  background-position: 240% 100%;
  background-size: auto 135%; }

.sc-menu-ppal {
  position: relative;
  z-index: 2;
  align-items: normal; }
  .sc-menu-ppal li {
    padding-top: 2rem;
    margin-left: 3rem;
    text-align: center;
    line-height: 1rem; }
    .sc-menu-ppal li:after {
      content: '';
      display: inline-block;
      background: #abe8ad;
      height: 6px;
      width: 0%;
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3); }
    .sc-menu-ppal li:hover {
      font-weight: 700;
      padding-bottom: 0;
      word-spacing: -0.07rem;
      letter-spacing: -0.04rem; }
      .sc-menu-ppal li:hover:after {
        width: 100%;
        transition: width 0.3s ease-in-out; }
  .sc-menu-ppal a {
    color: white;
    font-size: 1.7rem; }

.sc-accesos {
  background: white; }
  .sc-accesos button {
    font-size: 0.8rem; }
  .sc-accesos [class^=sc-icons] {
    width: 100px;
    height: 105px;
    background-position: top left;
    background-size: 385% auto;
    margin: 0 2%; }
  .sc-accesos .sc-icons_04 {
    background-position: 38% 2%;
    margin: 0 2% 0 8%; }
  .sc-accesos .sc-icons_05 {
    background-position: 0% 50%;
    margin: 0 2% 0 2%; }

.sc-accesos, .seccion-baja footer {
  position: absolute;
  bottom: 229px; }

.sc-bg-gente {
  background: url(../images/Bg_Gente.png) no-repeat center bottom;
  background-size: 100% auto;
  height: 100%;
  width: 100%; }

.sc-bg-Empresas {
  background: url(../images/Bg_Empresas.png) no-repeat center bottom;
  background-size: 100% auto;
  height: 90%;
  width: 100%; }

.sc-bg-Nosotros {
  background: url(../images/Bg_Nosotros.png) no-repeat center bottom;
  background-size: 100% auto;
  height: 90%;
  width: 100%; }

.sc-bg-ContactoPer {
  background: url(../images/Bg_ContactoPersonas.png) no-repeat center bottom;
  background-size: 80% auto;
  height: 100%;
  width: 100%; }

.sc-bg-ContactoEmpr {
  background: url(../images/Bg_ContactoEmpresas.png) no-repeat center bottom;
  background-size: 70% auto;
  height: 100%;
  width: 100%; }

.sc-logo-ppal {
  background-image: url(../images/Sistecredito_Logo.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% auto; }

.sc-formulario .sc-icons_07 {
  width: 28%;
  height: auto;
  padding: 15% 0;
  background-position: 36% 47%;
  background-size: 400% auto; }

.sc-formulario .sc-icons_09 {
  width: 28% !important;
  height: auto;
  padding: 15% 0;
  background-position: 68% 1%;
  background-size: 500% auto; }

.sc-formulario .sc-icons_41 {
  width: 28%;
  height: auto;
  padding: 15% 0;
  background-position: 55% 74% !important;
  background-size: 1000% auto; }

.sc-form-title {
  color: #587aa8;
  letter-spacing: -0.03rem; }

.sc-artilugio-texto-ppal p.sc-txt-3 {
  line-height: 1.5rem; }

.sc-txt-3 .sc-txt-direccion {
  color: #0B3841; }

.sc-tit-opacity {
  position: relative;
  color: #cdfc00;
  font-size: 3rem;
  top: 50%; }
  .sc-tit-opacity:before {
    content: attr(title);
    position: absolute;
    color: white;
    opacity: 0.2;
    font-size: 6rem;
    font-stretch: ultra-expanded;
    letter-spacing: 1rem;
    font-weight: 900;
    top: -60%;
    left: -50%; }

form a {
  color: #a2a2a2;
  font-style: italic;
  font-weight: normal;
  font-size: 0.8rem; }

.icon-input {
  position: relative;
  width: 0;
  float: left; }
  .icon-input [class^=sc-icons] {
    width: 25px;
    height: 25px;
    margin: 5px 0 0 5px;
    background-position: 44% 74%;
    background-size: 1000%; }
  .icon-input + input {
    padding-left: 12%; }
  .icon-input .sc-icons_23 {
    background-position: 100% 17%;
    background-size: 1400%; }

.sc-text-descripcion-emp {
  color: #b3f2e1; }

.sc-text-descripcion-nos {
  color: #A4E888; }

b.sc-app {
  white-space: nowrap; }

.sc-btns-app {
  padding-left: 10px; }

.sc-btn-GooglePlay {
  background: url(../images/Btn_GooglePlay.png) no-repeat #003891;
  background-size: 90%;
  width: 45%;
  height: 40px;
  background-position: center; }

.sc-btn-AppsStore {
  background: url(../images/Btn_AppStore.png) no-repeat #003891;
  background-size: 90%;
  width: 45%;
  height: 40px;
  background-position: center; }

.sc-controlradio-txt {
  color: #7E7E7E;
  font-size: 0.8rem;
  line-height: 0.9rem; }

.sc-text-final {
  color: #003891; }
  .sc-text-final a {
    color: #003891;
    line-height: 0px; }
  .sc-text-final span {
    display: inline-block;
    margin-top: 6px;
    vertical-align: top; }

/*artilugios*/
.sc-artilugio-texto-ppal {
  color: white;
  line-height: 1.2rem;
  letter-spacing: 0.04rem; }

/*secciones*/
